/* Global css */


/* Header styles */

/* Main  */


/* Section  */


/* Table  */

/* Loading pinner  */


/* Search Bar  */


/* Td */

/* Action buttons  */


/* Add user button  */


/* Paggination  */


/* Loading and error overlap components  */
.loading-shade {
  position: absolute;
  top: 40px;
  left: 0;
  bottom: 0px;
  right: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-overlap {
  text-align: center;
  margin-right: 30px;
}

.loading-shade svg {
  font-size: 5rem;
  color: #943232;
  height: 110px;
  width: 120px;
  margin: auto;
}

/* User details styles  */


/* Add/Edit form styles  */

/* Footer styles */
